@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>Hello! This website is created to help you discover basic information about varius video games.</h4>

<img src="https://images.playerslounge.co/img/homepage/hero-background.png" alt="Gaming" width="620" height="460">
