@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Games Catalog</h1>
    <p class="lead">Distributed Applications Project.</p>
    <p>
        <a href="https://localhost:44398/Home/About" class="btn btn-primary btn-lg">About &raquo;</a>
        <a href="https://localhost:44398/Home/Contact" class="btn btn-primary btn-lg">Contact &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="https://localhost:44398/VideoGames/Index" class="text">Game Catalog</a></h2>
        <p>Find varius video games and basic information about them.</p>
        <img src="https://thumbs.gfycat.com/KindheartedBlondGorilla-max-1mb.gif" alt="Gaming" width="195" height="195">
    </div>
    <div class="col-md-4">
        <h2><a href="https://localhost:44398/Developers/Index" class="text">Developers</a></h2>
        <p>Learn more about the people involved in the video game development, the process of designing and creating of the games.</p>
        <img src="https://i.pinimg.com/originals/7c/99/c8/7c99c8794fb95b2decda2b3d836c154f.gif" alt="Gaming" width="165" height="165">
    </div>
    <div class="col-md-4">
        <h2><a href="https://localhost:44398/Genres/Index" class="text">Genres</a></h2>
        <p>See a list of commonly defined video game genres.</p>
        <img src="http://pa1.narvii.com/7383/43679146020b1205de1696dc51c1aa9071f567c8r1-288-288_00.gif" alt="Gaming" width="200" height="200">
    </div>
</div>
<br />
<h2>News</h2>
<div class="row">
    <div class="col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VXj5-GJSna4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/n5purHmHpr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>